API_DOMAIN=api.academiatupi.com
ACME_EMAIL=admin@academiatupi.com
SMTP_ALLOWED_SENDER_DOMAINS=academiatupi.com
SMTP_RELAYHOST=[mail.privateemail.com]:587
SMTP_RELAYHOST_USERNAME=no-reply@academiatupi.com
SMTP_RELAYHOST_PASSWORD=replace-with-namecheap-private-email-password
