VITE_API_BASE_URL=https://api.academiatupi.com/api
VITE_SITE_URL=https://neo.academiatupi.com
VITE_APP_NAME=Nheenga Neologismos
VITE_TURNSTILE_SITE_KEY=
VITE_GA_MEASUREMENT_ID=
VITE_WHATSAPP_GROUP_URL="https://chat.whatsapp.com/HEN79Ihpw4v8V8f7g6njlu?mode=gi_t"
